body {
    background-color: beige;
}

div {
    background-color: darkseagreen;
    color: white;
    font-size: 5vw;
    font-family:Arial, Helvetica, sans-serif;
    padding: 5vw;
    margin: 2.5vw;
    border: cornflowerblue 5px solid;
}

.div-wrapper {
    display: flex;
}

@media screen and (max-width: 900px) {
    body{
        background-color: lightcyan;
    }

    .div-wrapper {
        display: flex;
        flex-direction: column;
    }
}

