#container {
  width: 100%;
  height: 200px;
  overflow: hidden;
  background-color: black;
}

.ball {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  background-color: navajowhite;
}